.ImgResponsive.cover {
   
    object-fit: scale-down !important;
}


app-notification.ng-trigger.ng-trigger-enterLeave {
 display: none !important;
}


instruction ng-star-inserted {
      display: none !important; 

}

