.ImgResponsive.cover {
   
    object-fit: scale-down !important;
}

.mat-form-field-flex.ng-tns-c69-32 {
     display: none !important;
}

app-notification.ng-trigger.ng-trigger-enterLeave {
 display: none !important;
}
mat-form-field full-width ng-tns-c246-26 ng-tns-c69-33 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label ng-pristine ng-valid ng-star-inserted ng-touched mat-form-field-hide-placeholder{
   display: none !important; 
}

instruction ng-star-inserted {
      display: none !important; 

}
